/*****************************************/
/*  estilização loja
/*****************************************/

img{
    width: 100%;
    height: 300px;
 
}

/* .banner__store img{
    object-fit: cover;
    object-position: top;
   
} */

.banner__store img{
    background-repeat: no-repeat;
    background-size:cover;
}