* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


a:hover, a:active {
    background-color: #919292;
    color: white;
}

#texto_p1 {
    color: blueviolet;
    /* font-size: 1em;
    font-style: normal;
    font-weight: normal; */
    font: 1em normal normal;
    text-decoration: overline;
    letter-spacing: 3px;
    word-spacing: 10px;
    text-transform: capitalize;
    text-shadow: 1px 2px #2e2e2e;
    line-height: 1.2;
    text-align: justify;
}

#texto_p2 {
    color: rgb(226, 43, 104);
    /* font-size: 1.5em;
    font-style: italic;
    font-weight:bold; */
    font: 1.5em italic bold;
    text-decoration: underline;
    letter-spacing: 5px;
    word-spacing: -3px;
    text-transform: lowercase;
    text-shadow: 2px 2px #2e2e2e;
    line-height: 1.5;
    border: 2px;
    text-align: center;
}

#texto_p3 {
    color: rgb(59, 184, 177);
    font-size: 2em;
    font-family: "Raleway", sans-serif;
    font-style: oblique;
    font-weight: lighter;
    text-decoration: line-through;
    letter-spacing: -3px;
    word-spacing: -5px;
    text-transform: uppercase;
    text-shadow: 3px 2px #2e2e2e;
    text-align: right;
}